<% collection = Enceladus::Movie.popular %>
<% movie_example = Enceladus::Movie.find(135397) %>
<h1> <%= movie_example.id %> </h1>
<h2> <%= movie_example.title %> </h2>
<h4> <%= movie_example.genres %> </h4>


<!-- collection.all will pull an array of popular movies. need to iterate through the array. -->


<!--Next, create methods to automatically pull posters from movies. Still have to sort by genre later, add user functionality, etc etc. -->
