
<body>
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="page-header"> Popular Movies</h2>
      </div>
      <% @movies.each do |movie| %>
      <div class="col-md-4 text-center">
        <div class="thumbnail">
            <%= link_to(image_tag("http://image.tmdb.org/t/p/w370" << movie.poster_path, class: 'img-responsive'), movie_path(:id)) %>
            <!-- have to update the above line to include link_to, and find a way to properly link to show page per movie id -->
              <div class="caption">
                  <h3> <%= movie.title %> <br> </h3>
                  <p><%= movie.overview %> </p>
                  <ul class="list-inline">
                      <li> <!-- #link_to show_movie_path for each individual movie. need to write this code in movies controller --> </li>
                      <li> <!-- #link_to add movie to watched. need to write this code in users controller --> </li>
                      <li> <!-- #link_to add movie to want to watch. need to write this code in users controller --> </li>

                  </ul>
              </div>
         </div>
      </div>
      <% end %>
    </div>

</body>
